name: build-and-release

on:
  push:
    branches:
      - '!*'
    tags:
      - 'v[0-9].*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Compute docker tags
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v5
        with:
          images: orangeopensource/credhub-exporter

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Publish to DockerHub
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}

      - name: Create github release
        id: create-github-release
        if: success() && startsWith(github.ref, 'refs/tags/')
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: |
            Resource image available:
            ```
            ${{ steps.docker_meta.outputs.tags }}
            ```
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
